.App {
    text-align: center;
}
.footer {
    margin-top: 30px;
}
.logo_image {
    width: 5%;
}
.title {
    font-size: 56px;
    margin-bottom: 30px;
}
.already_user {
    margin-bottom: 30px;
}
.ui.center.aligned.middle.grid {
    /* background-image: url(https://c4.wallpaperflare.com/wallpaper/155/678/465/half-underwater-half-above-hd-wallpaper-wallpaper-preview.jpg); */
    background-repeat: repeat-x;
    background-color: azure;
}
.content {
    line-height: 145%;
    background: #fff;
    margin-bottom: 10px;
    padding: 20px;
    word-wrap: break-word;
}
.content h1 {
    font-size: 330%;
    clear: both;
    margin: .2em 0em .4em 0;
    line-height: 1.2em;
    color: #666;
}
.ym-grid {
    display: table;
    width: 100%;
    table-layout: fixed;
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}
 * {
    margin: 0;
    padding: 0;
}
.ym-g66 {
    width: 66.666%;
}
.ym-gl {
    float: left;
    margin: 0;
}
.readable {
    font-size: 125%;
    line-height: 145%;
}
.ym-gbox-left {
    padding: 0 5px 0 0;
}
.ym-gbox-left {
    padding: 0 10px 0 0;
}
.box {
    background-color: #e0e0e0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
}
.tab-content-show {
    display: block;
}
.tab-content {
    position: relative;
    display: block;
}
.bordered {
    border: 2px #eee solid;
    border: 2px rgba(255, 255, 255, 1) solid;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
.icaption {
    line-height: 1.4em;
    width: 240px;
}
.site_image {
    opacity: 1;
    filter: alpha;
    opacity:100;
    border: 0;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeQuality;
    width: 750px;
}
element.style {
    width: 100%;
}
.icaption strong, .icaption_description, .icaption_right strong, .icaption_left strong {
    font-weight: 400;
    font-size: .9em;
    line-height: 1.4em;
    margin-top: -6px;
    width: max-content;
    justify-content: center;
    display: block;
    background: #000;
    color: #fff;
    padding: 6px;
}
form {
    display: block;
    margin-top: 0em;
}
.searchbox-big {
    text-align: center;
}
.searchbox, .general_search, .general_search input, .searchbox select, .searchbox input, .searchbox td, .searchbox p, .pager {
    color: #444;
}
.searchbox, .advanced_search {
    background-color: #e0e0e0;
    border-bottom: 1px solid #d0d0d0;
    width: auto;
    margin: 0 0 10px 0;
    padding: 10px;
    position: relative;
}
.searchbox-big .searchbox-big-in {
    padding-top: 5px;
    padding-bottom: 0;
    display: inline-block;
    text-align: left;
}
 .button input, .searchbox .checkbox input, .buttons, .wform .alert div.check {
    width: auto;
}
.buttons .button_padding, .buttons .medium_button {
    padding: 10px;
}
.buttons .plain_button {
    background-image: none;
    background-color: #00a0db;
    border: none;
    color: #fff;
}
.buttons button {
    overflow: visible;
    width: auto;
    line-height: 18px;
}
.buttons a, .buttons button, .buttons .button {
    background-color: #f9f9f9;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#F9F9F9), to(#eeeeee));
    background-image: -moz-linear-gradient(#F9F9F9, #eeeeee);
    background-image: -ms-linear-gradient(#F9F9F9, #eeeeee);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9F9F9), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#F9F9F9, #eeeeee);
    background-image: -o-linear-gradient(#F9F9F9, #eeeeee);
    background-image: linear-gradient(#F9F9F9, #eeeeee);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 2px;
    margin-bottom: 2px;
    white-space: nowrap;
    width: auto;
    padding: 4px 5px 4px 5px;
    color: #555;
    box-sizing: border-box;
}
button, input, textarea {
    padding: 4px;
    border: 1px solid #b5b8c8;
    box-sizing: border-box;
}
button {
    appearance: button;
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
strong {
    font-weight: 700;
}
strong {
    font-weight: bold;
}
.icaption {
    line-height: 1.4em;
    width: 240px;
}
.content h5 {
    font-size: 160%;
    line-height: 1.3em;
    margin: .3em 0 .5em 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ym-gr {
    margin: 0;
    float: right;
    margin: 0 0 0 -5px;
}
.ym-g33 {
    width: 33.333%;
}
.ym-gbox-right {
    padding: 0 0 0 5px;
}
.ym-gbox-right {
    padding: 0 0 0 10px;
}
.alternate div:nth-child(odd) {
    background: #e4e4e4;
}
.alternate div {
    padding: 4px;
}
.content .box {
    background-color: #eee;
}
.gmap, #map {
    position: relative;
    z-index: 10;
    margin-bottom: 10px;
}
#esriapp {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
footer.footer {
    margin-top: 100px;
    display: inline-flex;
}
.wishlist_empty_image {
    margin-bottom: 2.5rem;
    width: 100%;
    height: min-content;
}
.wish_button{
    font-size: .875rem;
    line-height: 1.25rem;
    background-color: #1593ff;
    border-width: 0;
    color: #fff;
    outline: none;
    white-space: nowrap;
    height: 44px;
    line-height: 44px;
    border-radius: 500px;
    padding-left: 2rem;
    padding-right: 2rem;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
    /* font-smoothing: antialiased; */
}
body {
    font-family: Helvetica,Arial,sans-serif;
}
:root {
    --font-sizes: lg, 2x, 3x, 4x, 5x;
    --font-sizes-values: 1.33333333em, 2em, 3em, 4em, 5em;
    --rotates: 30, 60, 90, 180, 270;
}
/* body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
} */
/* .header-banner {
    height: 160px;
    position: relative;
} */
/* .header-banner-highlight {
    float: right;
    top: 0;
    right: 0;
    position: absolute;
    overflow: hidden;
    width: auto;
} */
/* .ym-wrapper, .page_margins {
    margin: 0 auto;
    width: 100%;
    max-width: 1960px;
    min-width: 280px;
    background: #fff;
    position: relative;
} */
img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimizeQuality;
    border: 0;
}
fieldset, img {
    border: 0 solid;
}
.navbar {
    background-color: aliceblue;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 400;
    text-shadow: 1px 1px rgb(0, 110, 129);
    color: darkblue;
    cursor: grab;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    padding: 7px 25px;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    height: 60px;

    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    /* background-color: #fff;
    z-index: 100;
    margin: 0!important;
    width: 100%!important; */
}

div {
    display: block;
}
.block2__grid {
    display: inline-grid;
    padding: 1rem;
    /* grid-auto-rows: 270px; */
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    margin-top: 25px;
}
.site-card {
    border-radius: 6px;
    color: #fff;
    position: relative;
}
.site-card__image {
    border-radius: 6px;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    -webkit-transition: .8s ease-out;
    -o-transition: .8s ease-out;
    transition: .8s ease-out;
    height: 100%;
}
/* iframe {
    width:800,
    height:400,
    frameborder: 0,
    border:0; ,
    allowfullscreen:  ,
    aria-hidden: false  ,
    tabindex: 0
    } */
.site-card__description-wrapper {
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(3px);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    bottom: 0;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    position: absolute;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
    width: 100%;
}
.site-card__description {
    background-color: rgba(0,0,0,.4);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 15px 14px;
    width: 100%;
    z-index: 1;
}
.site-card__title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-shadow: 0 2px 4px rgba(0,0,0,.73);
}
.site-card_inscribed {
    color: #fff;
    font-size: 14px;
    text-shadow: 0 2px 4px rgba(0,0,0,.73);
    margin-top: 6px;
}

.site-card__actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0;
    height: 38px;
    /* opacity: 0; */
    padding-top: 15px;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
    -webkit-transition-property: max-height,opacity,margin-bottom;
    -o-transition-property: max-height,opacity,margin-bottom;
    transition-property: max-height,opacity,margin-bottom;
}
.site-card__actions a, .site-card__actions button {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    -ms-flex: 50%;
    flex: 50%;
    font-size: 16px;
    height: 36px;
    letter-spacing: 0;
    line-height: 19px;
    padding: 8px 0 9px;
    -webkit-transition: background-color .2s ease-in-out,border-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition: background-color .2s ease-in-out,border-color .2s ease-in-out;
}

button {
    cursor: pointer;
}

/* [type:reset], [type:submit], button, html [type:button] {
    -webkit-appearance: button;
} */

button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
button {
    appearance: button;
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

.site-card__actions a:not(:first-child), .site-card__actions button:not(:first-child) {
    margin-left: 10px;
}
